

    <p> This is the faculty page </p>
    
    <p> I can access data from GetOneFacController</p>
    
    <p> Response:  {{ onefacCon.faculty }}  </p>
    
    <p> We can access one property of the faculty record!!
        Name:  {{ onefacCon.faculty.name  }}</p>